@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

.body_main {
    background:rgb(52, 53, 66);
    animation: fadeIn;
    animation-duration: 2s;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

.navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: ‘Roboto Condensed’, sans-serif; /* Гуглфонт вывод */
}
.center_it {
    text-align: center;
    color: #f5f5f5;
}
.jumbotron {
    background: #f5f5f5 url(../Proj/12.jpg) top center no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    padding-top: 250px;
    padding-bottom: 200px;
    text-align: center;
    animation: fadeInDown;
    animation-duration: 2s;
}
.back {
    background:url(../KR/source/main_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text_footer {
    color: #E9E7E2;
}

.text_header_main {
    text-align: center;

    font-size: 70px;

    animation: fadeInUp;
    animation-duration: 2s;
}

.text_header {
    text-align: center;
    text-shadow: #858689;

    color: #343542;

    animation: fadeInUp;
    animation-duration: 2s;
}
.text_ref {
    color: #343542;

    animation: fadeInUp;
    animation-duration: 2s;
}
.block {
    background: darkslategray;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: center;
    -webkit-flex: 0 1 330px;
    flex: 0 1 330px;
    padding: 2em 3em;
    margin: 1em;
    color: #262b38;
    cursor: default;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);    
}

.card-img-top {
    filter: blur(0.5px);
}

.card {
    margin: 20px;
    background: linear-gradient(180deg,#ffffff,rgba(185, 185, 185, 0.671));
    text-align: center;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.img_prefrences_for_team_block
{
    animation: jackInTheBox;
    animation-duration: 2s;
    text-align: center; 
}
.col-1, .row-2 {
    border-style: solid 1px;
    border-color: black;
}

#footer {
    background: #1b1b22;
    margin: 0px;
}
#footer:hover {
    box-shadow: 0px 0px black;
    -webkit-transform: translateX(0px);
     transform: translateX(0px);
}

.card:hover {
    opacity: 1;
    box-shadow: 4px 4px 10px black;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.btn {
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #ffffff;
    box-shadow: 3px 3px 10px black;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

#back_layout {
    opacity: 1;
    size: 100%;
    padding-top: 7%;
    background-color: rgba(0, 0, 0, 0.521);
    box-shadow: 0px 0px 100px black;
}
.h5, .h3 {
    color: #ffffff;
    text-align: center;
}	
#load {
 display: none;
 position: absolute;
 right: 10px;
 top: 10px;
 background: url(images/ajax-loader.gif);
 width: 43px;
 height: 11px;
 text-indent: -9999em;
}
.container_for_headers, #interest
{
    display: flex;
    justify-content: center;
}
.rss_news{
    padding-top: 8%;
    animation: fadeIn;
    animation-duration: 2s;
}
.dom text {
    text-align: left;
}
#collapseTarget {
    animation: fadeIn;
    animation-duration: 2s;
}
